@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200;1,6..72,400&display=swap');

body {
    font-family:'Lato', sans-serif;
    font-weight:300;
    background-color:rgb(255, 240, 210);
}

a, a:visited, a:hover, a:active {
    color:inherit;
}

#page-title {
    color:rgb(90, 50, 20);
    font-family:'Newsreader', serif;
    padding:5px;
    padding-top:45px;
    text-align:center;
}

h1 {
    font-size:3.5rem;
    font-weight:200;
}

#buttons {
    display:flex;
    justify-content:center;
    padding-left:20px;
    padding-bottom:35px;
}

.button {
    padding-right:7px;
}

select {
    background-color:rgb(235, 210, 180);
    border: 1px solid rgb(108, 108, 108);
    font-family:'Lato', sans-serif;
    font-weight:300;
    outline:none;
}

.spacer {
    padding-right:25px;
}

button {
    background-color:rgb(235, 210, 180);
    border: 1px solid rgb(108, 108, 108);
    font-family:'Lato', sans-serif;
    font-weight:300; /* Possibly change to 400 if filter(s) are active */
    outline:none;
    position:relative;
}

button:active {
    background-color:rgb(210, 180, 150);
}

#books {
    display:inline-flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.book {
    /* for debugging
    outline: 1px solid black;
    outline-offset:-1px; */
    padding:10px;
    text-align:center;
}

img {
    height:300px;
    outline:2px solid rgb(90, 50, 20);
    outline-offset:-2px;
}

.book-text {
    width:0;
    min-width:100%;
}

strong {
    font-weight:400;
}

.footer {
    text-align:right;
}
